.column1, .column2{
    color: red;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
}
.completed{
    display: none;
}
.not{
    font-weight: bold;
}

.row {
    display: flex;
  }
  
  .column1, .column2 {
    flex: 50%;
  }