.column{
    
    flex: 50%;
    overflow:hidden;
    
}
.completed{
    display: none;
}
.not{
    font-weight: bold;
}

#row {
    display: flex;
    
  }
  

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
